<!-- product-variants Snippet -->

{% liquid
    assign quant = section.settings.quantity
    assign variant = section.settings.variant
    assign select = section.settings.picker_type
  %}
  
  {% if variant %}
  <div class="flex flex-col pb-8 size-info-container">
    <template v-for="(option, index) in form.options" :key="index">
      <label :for="option.name" class="mb-2 text-primary font-normal text-base font-montserrat">
        Choose ${ option.name }:
      </label>
      <div>
        {% if select == 'select' %}
        <select v-model="selected[index]" @change="form.selections = selected, changePrice()" class="appearance-none border-[#f8f8f8] focus:border-[#f8f8f8] focus:outline-none py-1 pl-4 pr-10 w-full rounded-none border-0 bg-[#f8f8f8] text-primary text-sm font-montserrat h-[44px]" :name="option.name" title="Size Selector">
            <option disabled selected value="">Select</option>
            <template v-for="(value, i) in option.values">
            <option :value="value">${ value }</option>
            </template>
        </select>
        {% else %}
          <template v-for="(value, i) in option.values">
            <input
              type="radio"
              :id="`{{ section.id }}-{{ option.position }}-${i}`"
              :name="value"
              :value="value"
              :class="`peer/variant${i} absolute h-px w-px overflow-hidden`"
              v-model="selected[index]" 
              @click="form.selections = selected, changePrice()"
            >
            <label :for="`{{ section.id }}-{{ option.position }}-${i}`" :class="`rounded-full border-[1px] border-solid bg-white color-slate-900 px-8 py-4 border-slate-900 relative mt-3 mr-2 text-2xl leading-none text-center cursor-pointer peer-checked/variant${i}:bg-slate-900 peer-checked/variant${i}:text-white hover:border-[2px]`">
              ${ value }
            </label>
          </template>
        {% endif %}
      </div>
    </template>
  </div>
  {% endif %}
  {% if quant %}
  <div class="flex flex-col mb-4 md:mb-11">
    <label for="quantity" class="mb-2 text-primary font-normal text-base font-montserrat">Quantity:</label>
    <div class="relative w-1/3">
        <button @click="decrement" class="flex items-center absolute inset-y-0 left-0 pl-4 text-[#352d0fb3]" type="button" title="quantity minus">-</button>
        <input v-model.number="qty" class="text-sm text-center appearance-none border-[#f8f8f8] focus:border-[#f8f8f8] focus:outline-none w-full py-1 px-8 bg-[#f8f8f8] rounded-none border-0 h-[44px]" type="number" name="quantity" min="1" title="quantity input">
        <button @click="increment" class="flex items-center absolute inset-y-0 right-0 pr-4 text-[#352d0fb3]" type="button" title="quantity plus">+</button>
    </div>
  </div>
  {% endif %}